.contactDetailsCard {
  padding: 35px;
  position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -135px; /* Negative half of height. */
  margin-left: -285px; /* Negative half of width. */
  color: white;
  border-radius: 0.5rem;
  background-color: rgba(40, 50, 55, 1);
  z-index: 999;
  opacity: 1;
}

.hide {
  opacity: 0;
}

.fancyHr {
  border: none;
  height: 2px;
  border-radius: 99em;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
}

.cringeSalesMessage {
  font-family: monospace;
  font-size: 1.35em;
  line-height: 1.5;
}

.contactButtons {
  text-align: center;
  margin-top: 30px;
}

.contactButtons a {
  font-family: "Raleway", sans-serif;
  color: white;
  background: none;
  font-size: 1em;
  margin: 0px 5px;
  text-decoration-color: rgba(255, 255, 255, 0);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid white;
}

.contactButtons a:hover {
  transition: 0.2s all ease;
  background: rgba(255, 255, 255, 0.1);
  text-decoration-color: rgba(255, 255, 255, 1);
}

.rainbowBackground {
  position: fixed;
  width: 600px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin-top: -300px; /* Negative half of height. */
  margin-left: -300px; /* Negative half of width. */
  color: black;
  border-radius: 999rem;
  background: red;
  z-index: 998;
  background: linear-gradient(
    45deg,
    #eb5f1b,
    #c940c5,
    #2180e3,
    #25c7d0,
    #29cbaa,
    #57c643,
    #efc022,
    #ff9227,
    #eb5f1b
  );
  filter: blur(75px);
  opacity: 0.65;
  animation: shiftRainbow 15s linear infinite;
}

@keyframes shiftRainbow {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(180deg) scale(1, 0.75);
  }
  100% {
    transform: rotate(0deg);
  }
}
